<a href="https://colab.research.google.com/github/raj-vijay/dl/blob/master/7_Keras_Model_Buidling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Model building steps in Keras**
1. Specify Architecture
2. Compile
3. Fit
4. Predict

In [ ]:
import numpy as np
from keras.layers import Dense
from keras.models import Sequential

Using TensorFlow backend.

**Keras Model on the Hourly Wages Dataset**

In [ ]:
!wget https://assets.datacamp.com/production/repositories/654/datasets/8a57adcdb5bfb3e603dad7d3c61682dfe63082b8/hourly_wages.csv

--2020-05-22 19:13:39--  https://assets.datacamp.com/production/repositories/654/datasets/8a57adcdb5bfb3e603dad7d3c61682dfe63082b8/hourly_wages.csv
Resolving assets.datacamp.com (assets.datacamp.com)... 13.226.45.81, 13.226.45.22, 13.226.45.82, ...
Connecting to assets.datacamp.com (assets.datacamp.com)|13.226.45.81|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13436 (13K)
Saving to: ‘hourly_wages.csv’

hourly_wages.csv    100%[===================>]  13.12K  --.-KB/s    in 0s

2020-05-22 19:13:39 (186 MB/s) - ‘hourly_wages.csv’ saved [13436/13436]

In [ ]:
import pandas as pd
df = pd.read_csv('hourly_wages.csv')

In [ ]:
df.head()

   wage_per_hour  union  education_yrs  ...  south  manufacturing  construction
0           5.10      0              8  ...      0              1             0
1           4.95      0              9  ...      0              1             0
2           6.67      0             12  ...      0              1             0
3           4.00      0             12  ...      0              0             0
4           7.50      0             12  ...      0              0             0

[5 rows x 10 columns]

In [ ]:
predictors = np.array(df.drop('wage_per_hour', axis = 1))

In [ ]:
target = np.array(df['wage_per_hour'])

In [ ]:
# Import necessary modules
import keras
from keras.layers import Dense
from keras.models import Sequential

# Save the number of columns in predictors: n_cols
n_cols = predictors.shape[1]

# Set up the model: model
model = Sequential()

# Add the first layer
model.add(Dense(50, activation='relu', input_shape=(n_cols,)))

# Add the second layer
model.add(Dense(32, activation='relu'))

# Add the output layer
model.add(Dense(1))

In [ ]:
# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

# Verify that model contains information from compiling
print("Loss function: " + model.loss)

Loss function: mean_squared_error

In [ ]:
# Fit the model
model.fit(predictors, target)

Epoch 1/1
534/534 [==============================] - 0s 653us/step - loss: 41.6335

**Keras Model on the Titanic Dataset**

In [ ]:
!wget https://assets.datacamp.com/production/repositories/654/datasets/92b75b9bc0c0a8a30999d76f4a1ee786ef072a9c/titanic_all_numeric.csv

--2020-05-22 19:31:18--  https://assets.datacamp.com/production/repositories/654/datasets/92b75b9bc0c0a8a30999d76f4a1ee786ef072a9c/titanic_all_numeric.csv
Resolving assets.datacamp.com (assets.datacamp.com)... 13.226.45.22, 13.226.45.82, 13.226.45.81, ...
Connecting to assets.datacamp.com (assets.datacamp.com)|13.226.45.22|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 31708 (31K)
Saving to: ‘titanic_all_numeric.csv’

titanic_all_numeric 100%[===================>]  30.96K  --.-KB/s    in 0.01s

2020-05-22 19:31:19 (2.88 MB/s) - ‘titanic_all_numeric.csv’ saved [31708/31708]

In [ ]:
df = pd.read_csv('titanic_all_numeric.csv')

In [ ]:
df.head()

   survived  pclass  ...  embarked_from_queenstown  embarked_from_southampton
0         0       3  ...                         0                          1
1         1       1  ...                         0                          0
2         1       3  ...                         0                          1
3         1       1  ...                         0                          1
4         0       3  ...                         0                          1

[5 rows x 11 columns]

In [ ]:
predictors = np.array(df.drop('survived', axis = 1))

In [ ]:
# Import necessary modules
import keras
from keras.layers import Dense
from keras.models import Sequential
from keras.utils import to_categorical


# Save the number of columns in predictors: n_cols
n_cols = predictors.shape[1]
# Convert the target to categorical: target
target = to_categorical(df.survived)

# Set up the model
model = Sequential()

# Add the first layer
model.add(Dense(32, activation='relu', input_shape=(n_cols,)))

# Add the output layer
model.add(Dense(2, activation='softmax'))

# Compile the model
model.compile(optimizer='sgd', 
              loss='categorical_crossentropy', 
              metrics=['accuracy'])

# Fit the model
model.fit(predictors, target)

Epoch 1/1
891/891 [==============================] - 0s 100us/step - loss: 2.7586 - accuracy: 0.5724

**Using a Keras Model**

The following are the steps for using a keras model:

1. Save
2. Reload
3. Make predictions

In [ ]:
pred_data = predictors

In [ ]:
# Specify, compile, and fit the model
model = Sequential()
model.add(Dense(32, activation='relu', input_shape = (n_cols,)))
model.add(Dense(2, activation='softmax'))
model.compile(optimizer='sgd', 
              loss='categorical_crossentropy', 
              metrics=['accuracy'])
model.fit(predictors, target)

# Calculate predictions: predictions
predictions = model.predict(pred_data)

# Calculate predicted probability of survival: predicted_prob_true
predicted_prob_true = predictions[:,1]

# print predicted_prob_true
print(predicted_prob_true)

Epoch 1/1
891/891 [==============================] - 0s 72us/step - loss: 3.7422 - accuracy: 0.5971
[0.29391563 0.9962121  0.27146146 0.9753387  0.14743252 0.22482987
 0.8502725  0.75756526 0.292953   0.91919595 0.6824189  0.24736069
 0.35806447 0.44385898 0.51422465 0.09805807 0.8696159  0.3546667
 0.4508396  0.20488498 0.5961929  0.2633511  0.48408753 0.8928483
 0.7223421  0.47579917 0.19398728 1.         0.2255491  0.223955
 0.47897246 0.9999877  0.22305898 0.01259187 0.9990282  0.93862
 0.19405992 0.33644965 0.6853699  0.54724395 0.11088112 0.6031587
 0.20586985 0.96276677 0.3809971  0.22669534 0.3993511  0.22305898
 0.5148897  0.6992566  0.90908074 0.32874864 0.99465865 0.69562125
 0.83405346 0.88182765 0.44411755 0.19440052 0.8286506  0.9002041
 0.27995405 0.9988373  0.9987404  0.7941647  0.6937253  0.33285502
 0.2934371  0.38745016 0.3363765  0.25982198 0.22955933 0.92805845
 0.9974726  0.38830274 0.9893958  0.26526684 0.223955   0.22669534
 0.9033939  0.32704473 0.34757861 0.24701436 0.22377951 0.9759157
 0.53109264 0.3299384  0.8757853  0.22669534 1.         0.28761387
 0.22059074 0.35032612 0.9730722  0.53232855 0.01053202 0.22669542
 0.20246212 0.99459594 0.49776074 0.5946935  0.24373999 0.223955
 0.9974354  0.18468952 0.08850239 0.2302532  0.3430447  0.22182451
 0.10738014 0.64136094 0.9099201  0.6318093  0.31831273 0.42912653
 0.59753907 0.33258796 0.00382514 0.5550337  1.         0.8870508
 0.99665064 0.22669534 0.68234587 0.3054731  0.99254084 0.57819307
 0.2114514  0.26904416 0.5219326  0.04254072 0.15735516 0.3263736
 0.13707067 0.69562125 0.42920846 0.47628465 0.7873348  0.9697215
 0.5081961  0.9986091  0.32065362 0.32777667 0.5324093  0.32570532
 0.5307968  0.9404211  0.24121733 0.8468086  0.4810166  0.15770032
 0.08602158 0.99642986 0.0188101  0.1719282  0.21368065 0.93742996
 0.44797108 0.20861864 0.23781337 0.9898694  0.17036414 0.25537303
 0.2540572  0.46085903 0.95726186 0.74818873 0.98755497 0.31726116
 0.6940755  0.99180496 0.3317262  0.8359949  0.61291546 0.33258796
 0.30346483 0.35309124 0.60825586 0.3552009  0.3320117  0.01806807
 0.98994654 0.37190798 0.76578414 0.967357   0.7637746  0.98264897
 0.41104126 0.41500813 0.18960096 0.12974682 0.3141584  0.5530432
 0.37687775 0.8470367  0.41758457 0.99999785 0.21145156 0.07906622
 0.22305898 0.45821077 0.2604646  0.9898694  0.11293535 0.04321452
 0.40860495 0.6081692  0.36311847 0.5340513  0.44868475 0.5721663
 0.26721218 0.46306685 0.3001968  0.3320117  0.20517346 0.9998913
 0.2576412  0.46083194 0.99880576 0.25998595 0.46115428 0.38858396
 0.03013237 0.2239549  0.9996165  0.36050075 0.47961673 0.32304928
 0.57317406 0.6163121  0.99936694 0.21581449 0.05512408 0.8414829
 0.365456   0.23000154 0.4048764  0.81631446 0.47961673 0.2598293
 0.35506833 0.41104126 0.27614558 0.29753003 0.17767163 0.9993926
 0.2826313  0.42035285 0.9587176  0.26575485 0.21251981 0.2598363
 0.17999375 0.40936998 0.29901552 0.3160529  0.9992933  0.9995105
 1.         0.32027233 0.21145156 0.853256   0.995106   0.01391997
 0.22305898 0.18187442 0.9271155  0.26189834 0.9999988  0.99998343
 0.80170935 0.05568863 0.31108972 0.55383664 0.22305898 0.9822776
 0.05153795 0.04617511 0.77302384 0.39862704 0.00688008 0.2295035
 0.5172828  0.3830187  0.69589293 0.16894652 0.23403887 0.31418827
 0.15770032 0.31896016 0.9989279  0.99890864 0.20622998 0.32511458
 0.2844078  0.6937253  0.2583119  0.9999999  0.7928555  1.
 0.22305898 0.5881671  0.10058419 0.33964857 0.22669534 0.9999999
 0.9999063  0.9998472  0.56836855 0.98984295 0.9989711  1.
 0.71107876 0.2302532  0.39164132 0.2700383  0.7748189  0.08119886
 0.9999956  0.99998    0.3001968  0.24308549 0.3179408  0.8235034
 0.9898694  0.9999838  0.00651754 0.2481558  0.47999606 0.98775303
 0.59636235 0.4463798  0.99999356 0.7126523  0.9999746  0.223955
 0.9969169  0.9999883  0.05583999 0.6463066  0.8636528  1.
 0.3694667  0.42920846 0.23265438 0.45821077 0.19185618 0.43637973
 0.6545441  0.08762653 0.33607054 0.87409705 0.37310284 0.55896294
 0.19398728 0.2604646  0.9914163  0.2187044  0.2255491  0.2255491
 0.37244532 0.68619096 0.13740045 0.11702166 0.3993511  0.19290116
 0.97671515 0.20496103 0.22305898 0.9976138  0.99073374 0.33870998
 0.3830187  0.99997914 0.76543814 0.9993819  0.31609806 1.
 0.22861125 0.37185398 1.         0.6739562  0.18396842 0.9712172
 0.223955   0.99679035 0.9719353  0.2481558  0.21106756 0.5178691
 0.99990845 0.32862002 0.20319751 0.9997942  0.49305248 0.3119987
 0.2005748  0.39129293 0.38476324 0.3771455  0.09820687 0.25939965
 0.4031312  0.44238907 0.39897    0.45309785 0.02788516 0.7239298
 0.3279835  0.6163121  0.223955   0.19545054 0.9996401  0.04617511
 0.05987415 0.2399567  0.72888136 0.4964779  0.3320117  0.8100533
 0.20586985 0.31975687 0.21754263 0.37966993 0.7134114  0.21251981
 0.7126667  0.85484433 0.21145156 0.18605629 0.72531825 0.43637973
 0.4451903  0.39590833 0.91823244 0.99995005 0.8727059  0.45131338
 1.         0.24445239 0.37656525 0.4174538  0.26189834 0.3879823
 0.22781299 0.99953485 0.77649754 0.61773974 0.6879374  0.3949621
 0.519224   0.5396194  0.6764627  0.99896    0.22669534 0.20028466
 0.14677778 0.9844155  0.0659734  0.21145156 0.3740454  0.161435
 0.6861336  0.10893074 0.22669534 0.08763812 0.04617511 0.26328397
 0.2109899  0.7923976  0.21251981 0.12855488 0.5881652  0.44823822
 0.3963318  0.9863979  0.45309785 0.17610322 0.30602053 0.65985423
 0.9219464  0.04617511 0.03343105 0.0126809  0.99928135 0.6163121
 0.9996731  0.26401186 0.20861864 0.7274007  0.5396194  0.31533033
 0.3547781  0.46728903 0.33644965 0.35042435 0.99237293 0.419012
 0.99999154 0.28234047 0.46085903 0.337638   0.22074854 0.16740017
 0.99878794 0.9997912  0.5607977  0.7090323  0.6501343  0.992304
 0.2057538  0.22669542 0.5710858  0.9097696  0.27619264 0.5671112
 0.2163593  0.65371305 0.5630778  0.18348329 0.99968016 0.31418827
 0.19398728 0.9529133  0.19405992 0.08757924 0.0659734  1.
 0.09820687 0.3513609  0.88326705 0.19405992 0.33424515 0.5011076
 0.23213162 0.80403435 0.41500813 0.999845   0.39775196 0.9771259
 0.995654   0.7739283  0.7893366  0.63345754 0.9998672  0.14792587
 0.8353355  0.3450253  0.43102482 0.90429485 0.9997857  0.7396855
 0.21291806 0.27986047 0.32854167 0.17999375 0.6375971  1.
 0.9983677  0.3532197  0.21145156 0.0884774  0.38486168 0.22669534
 0.23995686 0.72244424 0.37674227 0.4305265  0.19405992 0.18279386
 0.01921123 0.8365222  0.5738832  0.22305898 0.46115422 0.6059285
 0.28015116 0.9738481  0.355161   0.18396842 0.80541825 0.9999088
 0.28038558 0.8376121  0.22105396 0.9963534  0.13919222 0.98345727
 0.31831273 0.22669534 0.11909922 0.99394363 0.03713912 0.19871968
 0.5344171  0.47282597 0.8462931  0.00459237 0.19398728 0.9160739
 0.74652636 0.223955   0.95283633 0.06177387 0.5476537  0.28371084
 0.20603845 0.81973493 0.9342298  0.9999962  0.45225137 0.2088357
 0.41104126 0.21145156 0.14743252 0.99320227 0.25930023 0.4986798
 0.95308703 0.3281596  0.36878452 0.94307023 0.5081251  0.33041063
 0.6125489  0.3110789  0.05295661 0.99831367 0.2563952  0.21114323
 0.07402734 0.02328231 0.70852804 0.05016333 0.7605844  0.3879823
 0.18396842 0.6191818  0.66695917 0.42966864 0.35032612 0.9976138
 0.85776246 0.9921669  0.7923976  0.9953408  0.37674227 0.39053574
 0.21789561 0.30740812 0.223955   0.7827861  0.3487439  0.22458315
 0.36183104 0.99736243 0.223955   0.3265115  0.47143605 0.9998287
 0.999992   0.07534834 0.3693535  0.118196   0.3406749  0.99811125
 0.42920846 0.22182451 0.06829239 0.9846742  0.775731   0.9808785
 0.00823414 0.3140006  0.04617511 0.39717454 0.28039086 0.49218217
 0.74469054 1.         0.23058611 0.99872786 0.40594587 0.91575253
 0.40397093 0.9171855  0.9173489  0.47245055 0.39803532 1.
 0.9896024  0.6356904  0.9921669  0.23770593 0.20523088 0.08826646
 0.06177387 0.22273836 0.9999064  0.0683476  1.         0.59100467
 0.53592825 0.25767133 0.2499073  0.5155626  0.1464063  0.451953
 0.99999666 0.33285502 0.98456556 0.7090323  0.895338   0.24669848
 0.08425485 0.3668232  1.         0.32871783 0.41378847 0.16610831
 0.90809643 0.37488928 0.2633511  0.09588551 0.98790747 0.38273802
 0.499251   0.22281902 0.7539793  0.27963844 1.         0.8013319
 0.04617511 0.47143605 0.47143608 0.4593666  0.44252592 1.
 0.223955   0.223955   0.7833112  0.99888617 1.         0.53107494
 0.19512539 0.91337085 0.74431086 0.35017362 0.9891216  0.18280262
 0.8093147  0.6620565  0.1980098  0.2990855  0.9677454  0.69826424
 0.2284538  0.5307968  0.161435   0.9995958  0.39775196 0.06631382
 0.31046906 0.99991393 0.44937086 0.9955401  0.9141703  0.19900653
 0.6335178  0.1909967  0.32627714 0.03909893 0.03225491 0.19398728
 0.14997983 0.39614072 0.21145156 0.7262085  0.21122062 0.9999999
 0.4582511  0.9905151  0.78305155 0.5533359  0.25353277 0.2574057
 0.40195885 0.78278726 0.75478345 0.9975594  0.21145156 0.889203
 0.98994654 0.75880903 0.2701728  0.1914642  0.36093968 0.22007288
 0.17773965 0.6025654  0.2633511  0.627151   0.99996674 0.5524152
 0.22625396 0.19264346 0.0154588  0.4136085  0.1914642  0.98034805
 0.25623396 0.47630832 0.19268574 0.8210215  0.20281455 0.05016333
 0.31559628 0.8136831  0.04569827 0.7664095  0.9991399  0.2577346
 0.01716482 0.35297066 0.95141166 0.19705297 0.9921669  0.95710915
 0.21145156 0.98719573 0.62210566 0.77829057 0.19405992 0.29819843
 0.41908303 0.9987398  0.35779154 0.22669534 0.9893958  0.73841965
 0.35311544 0.54174453 0.75738    0.10652773 0.46085903 0.06667288
 0.9898694  0.13885878 0.82844    0.9995944  0.83401465 0.0024421
 0.7038287  0.9651609  0.4171407  0.4343792  0.999998   0.33481252
 0.47160643 0.19405992 0.17177314 0.44461223 0.37423602 0.98994654
 0.4511021  0.16786411 0.3708848  0.9796587  0.25361243 0.5732525
 0.2563952  0.89489824 0.09817579 0.05788706 0.61604923 0.41835055
 0.4320518  0.37674227 0.223955   0.9947738  0.7446976  0.17060797
 0.42472237 0.29291213 0.25353277 0.39198732 0.38858396 0.9114028
 0.5617075  0.78959197 0.1720946 ]