<a href="https://colab.research.google.com/github/raj-vijay/dl/blob/master/8_Understanding_model_optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import necessary modules
import keras
from keras.layers import Dense
from keras.models import Sequential
from keras.utils import to_categorical
import pandas as pd
import numpy as np

In [ ]:
!wget https://assets.datacamp.com/production/repositories/654/datasets/92b75b9bc0c0a8a30999d76f4a1ee786ef072a9c/titanic_all_numeric.csv

--2020-05-22 19:51:50--  https://assets.datacamp.com/production/repositories/654/datasets/92b75b9bc0c0a8a30999d76f4a1ee786ef072a9c/titanic_all_numeric.csv
Resolving assets.datacamp.com (assets.datacamp.com)... 13.226.45.40, 13.226.45.82, 13.226.45.81, ...
Connecting to assets.datacamp.com (assets.datacamp.com)|13.226.45.40|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 31708 (31K)
Saving to: ‘titanic_all_numeric.csv’

titanic_all_numeric 100%[===================>]  30.96K  --.-KB/s    in 0.01s

2020-05-22 19:51:50 (2.14 MB/s) - ‘titanic_all_numeric.csv’ saved [31708/31708]

In [ ]:
df = pd.read_csv('titanic_all_numeric.csv')

In [ ]:
df.head()

   survived  pclass  ...  embarked_from_queenstown  embarked_from_southampton
0         0       3  ...                         0                          1
1         1       1  ...                         0                          0
2         1       3  ...                         0                          1
3         1       1  ...                         0                          1
4         0       3  ...                         0                          1

[5 rows x 11 columns]

In [ ]:
predictors = np.array(df.drop('survived', axis = 1))

In [ ]:
def get_new_model():
  model = Sequential()
  model.add(Dense(100, activation='relu', input_shape = (10,)))
  model.add(Dense(100, activation='relu'))
  model.add(Dense(2, activation='softmax'))
  return(model)

In [ ]:
# Save the number of columns in predictors: n_cols
n_cols = predictors.shape[1]
# Convert the target to categorical: target
target = to_categorical(df.survived)

# Set up the model
model = Sequential()

# Add the first layer
model.add(Dense(32, activation='relu', input_shape=(n_cols,)))

# Add the output layer
model.add(Dense(2, activation='softmax'))

# Compile the model
model.compile(optimizer='sgd', 
              loss='categorical_crossentropy', 
              metrics=['accuracy'])

# Fit the model
model.fit(predictors, target)

Epoch 1/1
891/891 [==============================] - 0s 80us/step - loss: 1.7332 - accuracy: 0.5993

In [ ]:
from keras.models import load_model
model.save('model_file.h5')

In [ ]:
my_model = load_model('model_file.h5')

In [ ]:
pred_data = predictors

In [ ]:
lr_to_test = [.000001, 0.01, 1]

In [ ]:
input_shape=(n_cols,)
print(input_shape)

(10,)

In [ ]:
# Import the SGD optimizer
from keras.optimizers import SGD

# Create list of learning rates: lr_to_test
lr_to_test = [.000001, 0.01, 1]

# Loop over learning rates
for lr in lr_to_test:
    print('\n\nTesting model with learning rate: %f\n'%lr )
    
    # Build new model to test, unaffected by previous models
    model = get_new_model()
    
    # Create SGD optimizer with specified learning rate: my_optimizer
    my_optimizer = SGD(lr=lr)
    
    # Compile the model
    model.compile(optimizer=my_optimizer, loss='categorical_crossentropy')
    
    # Fit the model
    model.fit(predictors, target)

Testing model with learning rate: 0.000001

Epoch 1/1
891/891 [==============================] - 0s 81us/step - loss: 2.0733


Testing model with learning rate: 0.010000

Epoch 1/1
891/891 [==============================] - 0s 76us/step - loss: 1.7165


Testing model with learning rate: 1.000000

Epoch 1/1
891/891 [==============================] - 0s 82us/step - loss: 662755274014.7749